.calculate_price {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 50px 40px;
  background: rgb(68, 29, 181);
  background: linear-gradient(
    90deg,
    rgba(68, 29, 181, 1) 0%,
    rgba(51, 22, 135, 1) 20%,
    rgba(39, 29, 108, 1) 56%,
    rgba(93, 26, 162, 1) 80%,
    rgba(68, 29, 181, 1) 100%
  );
  border-radius: var(--b-r-30);
  margin-bottom: 80px;
}
.calculate_price_left {
  width: 35%;
}
.calculate_price_left h2 {
}
.calculate_price_left p {
  margin-top: 13px;
}
.calculate_price_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 43%;
}

.form_input {
  padding: 15px 30px;
  font-size: var(--font14);
  border: 1px solid #bebebe;
  border-radius: 50px;
}

.form_input input::placeholder {
  color: #fff;
}
.form_input input {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.form_input input:-internal-autofill-selected {
  background-color: none;
}

.form_input input:-webkit-autofill,
.form_input input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.form_input :global(.form-control) {
  border: none !important;
  height: fit-content !important;
  background-color: transparent;
  color: #fff;
}

.form_input :global(.flag-dropdown):hover {
  background-color: transparent;
}
.form_input :global(.flag-dropdown) {
  border: none !important;
  background-color: transparent !important;
}
.form_input :global(.country-list) {
  border: none !important;
  background: rgb(68, 29, 181);
}
