.six_reasons {
  padding-block: 80px;
}
.six_reasons h2 {
  margin-bottom: 40px;
  white-space: pre-line;
  text-align: center;
}
.six_reasons_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6vw;
  margin-top: 3vw;
}
@media (max-width: 1439px) {
  .six_reasons_cards {
    gap: var(--pixel20);
    margin-top: 36px;
  }
}
