.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6vw;
}
.card {
  width: 100%;
  height: auto;
  aspect-ratio: 235/130;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/icons/partnersBack.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: var(--pixel20);
  position: relative;
}

.card_image {
  width: 90%;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .cards {
    gap: var(--pixel20);
  }
}
