.about {
  background-color: #f7f7f7;
  padding-block: 80px;
}
.about_top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.about_top_right {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about_top_right p {
  font-size: var(--font14);
}

.about_top_btn {
  width: fit-content;
  padding: 13px 60px;
}
.about_h {
  white-space: pre;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6vw;
  margin-top: 3vw;
}
.about_btn {
  width: fit-content;
  margin: 30px auto 0;
  padding: 11px 30px;
}

@media (max-width: 1439px) {
  .cards {
    gap: 20px;
    margin-top: 36px;
  }
}
