.module {
  padding-block: 80px;
}
.module_top {
  display: flex;
  align-items: flex-end;
  gap: 100px;
}
.title {
  flex: 1;
}
.title p {
  max-width: 90%;
}
.view_btn {
  padding-block: 14px;
  width: 40%;
}

.module_bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--pixel20);
  margin-top: 60px;
}
.card {
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: var(--pixel20);
  overflow: hidden;
}
.card_btn {
  border: 1px solid #d5d5d5;
  border-radius: 50px;
  padding-block: 10px;
  text-align: center;
  font-weight: 400;
}
.card_btn2 {
  color: #fff;
  background-color: #441db5;
  border: 1px solid #441db5;
}
.card_content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 40px;
}
.card_advantages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_advantage {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card_image {
  position: relative;
  right: -10%;
}
.card_image img {
  width: 130%;
  object-fit: contain;
}
