.lang_switch :global(.MuiSelect-select) {
  font-size: var(--font12);
  font-weight: 500;
  font-family: "Magistral";
  padding: 0 20px 0 0 !important;
}

.lang_switch :global(li) {
  font-family: "Magistral" !important;
  font-size: var(--font12);
}

.lang_switch :global(.MuiOutlinedInput-notchedOutline) {
  border: none !important;
}
