.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  background-color: #f7f7f7;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: 13/15;
}

.image img {
  width: 80%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.text {
  margin-top: 30px;
  font-size: var(--font14);
  color: #737373;
  margin-bottom: 10px;
}
.btn {
  width: 100%;
  padding-block: 13px;
}

.old_price {
  font-size: var(--font12);
  color: #8a8a8a;
  text-decoration: line-through;
  margin-block: 9px 0;
}
.price {
  margin-block: 0 31px;
  font-weight: 400;
  font-size: var(--font16);
}
