.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/header-back.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
  padding: 5px 60px;
  color: #fff;
  border-radius: 100px;
  z-index: 10;
}

.header_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
  padding: 5px 60px;
  color: #fff;
  border-radius: 100px;
  z-index: 10;
}

.navs_wrapper,
.logo_wrapper,
.social_media {
  flex: 1;
  font-size: var(--font12);
}
.navs_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navs {
  display: flex;
  gap: 30px;
}
.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  aspect-ratio: 2/1;
  width: 6vw;
  height: auto;
  object-fit: contain;
}

.social_media {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1.6vw;
}

.icons img {
  width: 1.3vw;
  height: auto;
  aspect-ratio: 1/1;
}

.social_media a {
  margin: auto;
}

@media (max-width: 1439px) {
  .logo img {
    width: 80px;
  }

  .icons {
    gap: var(--pixel20);
  }
  .icons img {
    width: 16px;
  }
}
@media (max-width: 992px) {
  .header_mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 10px;
    border-radius: 0px;
    background-image: none;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  .header_mobile_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 10px;
    border-radius: 0px;
    background-image: none;
    z-index: 10;
  }
}
