.burger_icon {
  width: max-content;
  padding-block: 10px;
  cursor: pointer;
}
.burger {
  height: 8px;
  width: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.burger_close_btn {
  cursor: pointer;
  padding-block: 10px;
}
.burger {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__bottom,
.hamburger__top {
  height: 1px;
  position: relative;
  width: 100%;
}
.hamburger__bottom:after,
.hamburger__bottom:before,
.hamburger__top:after,
.hamburger__top:before {
  background-color: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
}
.hamburger__bottom:before,
.hamburger__top:before {
  transform-origin: left;
}
.hamburger__bottom:after,
.hamburger__top:after {
  transform: scaleX(0);
  transform-origin: right;
}
.burger:hover .hamburger__top:after {
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0.35s;
}
.burger:hover .hamburger__top:before {
  transform: scaleX(0);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger:hover .hamburger__bottom:after {
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.burger:hover .hamburger__bottom:before {
  transform: scaleX(0);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}

.burger._opened .hamburger__top {
  width: 33px;
  transform: translateY(1px) rotate(45deg);
}
.burger._opened .hamburger__bottom {
  width: 33px;
  transform: translateY(-6px) rotate(-45deg);
}
.burger_wrapper {
  padding-inline: var(--padding-inline);
  padding-block: 30px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}
.close_icon {
  cursor: pointer;
}
.left {
  display: flex;
  gap: 60px;
  align-items: center;
}
.body {
  margin-top: 40px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navs {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 15px;
  position: relative;
  z-index: 2;
  left: 50px;
}
.body_link {
  font-size: var(--font45);
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 45px */
  letter-spacing: -0.114px;
  display: flex;
  align-items: center;
}
.body_link span {
  margin-right: 10px;
}

.back_shape {
  position: absolute;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 1;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: var(--font14);
  font-weight: 300;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts_arrow {
  position: relative;
}

.contacts:hover .contacts_arrow {
  animation: arrowMove 0.1s both;
}

@keyframes arrowMove {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}

.footer {
  margin-top: 35px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.display_none {
  position: relative;
  z-index: 1;
  display: flex;
}
.display_block {
  display: none;
  position: relative;
  z-index: 2;
}

.social_media {
  display: none;
}
.logo {
  aspect-ratio: 2/1;
  width: 80px;
  height: auto;
  object-fit: contain;
  object-position: left;
}

@media (max-width: 992px) {
  .burger_wrapper {
    height: 100svh;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .social_media {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .social_media img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  .header {
    flex-direction: row-reverse;
  }
  .display_block {
    display: block;
  }
  .display_none {
    display: none;
  }
  .burger_wrapper {
    overflow-x: hidden;
    padding-block: 20px;
  }
  .body {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    height: max-content;
  }
  .back_shape {
    width: 135%;
  }
  .navs {
    left: 0px;
  }
}
