.breadCrumbs {
  color: #a0a0a0;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding-top: 60px;
}

.link {
  color: #a0a0a0;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

@media (max-width: 992px) {
  .breadCrumbs {
    padding-top: 30px;
  }
}
