@import url("/fonts/styles.css");

:root {
  --font12: 0.83vw;
  --font14: 0.97vw;
  --font16: 1.1vw;
  --font18: 1.25vw;
  --font20: 1.39vw;
  --font23: 1.6vw;
  --font24: 1.6vw;
  --font25: 1.7vw;
  --font26: 1.8vw;
  --font28: 1.9vw;
  --font30: 2vw;
  --font33: 2.3vw;
  --font35: 2.4vw;
  --font38: 2.6vw;
  --font40: 2.78vw;
  --font45: 3.1vw;
  --font46: 3.2vw;
  --font50: 3.47vw;
  --font60: 4vw;
  --font70: 4.86vw;
  --font80: 5.5vw;
  --font90: 6.25vw;
  --font104: 7.2vw;
  --padding-inline: 5.6vw;
  --pixel30: 2.5vw;
  --pixel20: 1.6vw;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: "Magistral", sans-serif;
}

html,
body {
  background: #fff;
  color: #000;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: var(--font14);
  line-height: 1.3;
  font-weight: 350;
}

main {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.layout {
  margin-top: 84px;
}

h1 {
  font-size: var(--font50);
  font-weight: 400;
}
h2 {
  font-size: var(--font35);
  font-weight: 400;
}
h3 {
  font-size: var(--font30);
  font-weight: 400;
}
h4 {
  font-size: var(--font25);
  font-weight: 400;
}
h5 {
  font-size: var(--font18);
  font-weight: 400;
}
h6 {
  font-size: var(--font16);
  font-weight: 400;
}

@media (max-width: 1200px) {
  :root {
    --font12: 12px;
    --font14: 14px;
    --font16: 16px;
    --font18: clamp(0.875rem, 0.7841rem + 0.4545vw, 1.125rem);
    --font20: 20px;
    --font23: 23px;
    --font24: 24px;
    --font25: 25px;
    --font26: 26px;
    --font28: 28px;
    --font30: 30px;
    --font33: 33px;
    --font35: clamp(1.5rem, 1.25rem + 1.25vw, 2.1875rem);
    --font38: 38px;
    --font40: clamp(1.875rem, 1.6477rem + 1.1364vw, 2.5rem);
    --font45: clamp(1.75rem, 1.3636rem + 1.9318vw, 2.8125rem);
    --font46: 46px;
    --font50: clamp(2.1875rem, 1.7614rem + 1.8182vw, 3.125rem);
    --font60: 60px;
    --font70: clamp(4.0625rem, 3.9489rem + 0.5682vw, 4.375rem);
    --font80: 80px;
    --font90: 90px;
    --font104: 104px;
    --padding-inline: 80px;
    --pixel30: 30px;
    --pixel20: 20px;
  }
}

@media (max-width: 1200px) {
  .layout {
    margin-top: 76px;
  }
}
@media (max-width: 1199px) {
  :root {
    --padding-inline: 40px;
  }
}
@media (max-width: 767px) {
  :root {
    --padding-inline: 10px;
  }
}

.skiptranslate {
  display: none !important;
}
