.swipers {
  width: 100%;
}

.slide_small_image {
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.slide_big_image {
  width: 10vw;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
