.slider_wrapper {
  padding-block: 100px;
}
.slider_wrapper h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slider {
  display: flex;
  gap: var(--pixel20);
}

.slider_desktop {
  width: 60%;
  position: relative;
}

.productBottomSwiper::-webkit-scrollbar {
  display: none;
}

.productBottomSwiper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 13%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.productMainSwiper {
  width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
}
.productMainSwiper:active {
  cursor: grabbing;
}
.productMainSwiper_item {
  display: flex;
}
.productBottomSwiper_item {
  border-radius: 19px;
  border: 2px solid transparent;
  padding: 2px;
  display: flex;
}
.productBottomSwiper :global(.swiper-slide-thumb-active) {
  border-color: #525252;
}
.sliderImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  aspect-ratio: 5/3;
}
.sliderImg_small {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.slider_mobile {
  display: none;
}

.slider_content {
  position: relative;
  background-image: url("/icons/slider-back.svg");
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 5%;
}

.slider_content h5 {
  margin-bottom: 8%;
}

.slider_btns {
  display: flex;
  position: absolute;
  gap: 5px;
  bottom: 0;
  right: 0;
}
.slider_btns button:hover {
  background-color: #441db5;
}

.next_btn,
.prev_btn {
  cursor: pointer;
  width: var(--pixel30);
  height: var(--pixel30);
  z-index: 4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.prev_btn {
  transform: rotate(225deg);
}
.next_btn img,
.prev_btn img {
  width: 35%;
  height: 35%;
}

.slider_content_infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: var(--pixel20);
}
.slider_content_info {
  font-size: var(--font14);
  color: #8e8e8e;
}
.slider_content_info p:nth-child(1) {
  color: #333333;
  font-weight: 400;
}
.slider_content_info {
}
.mobile_swiper_wrapper {
  position: relative;
  padding-top: 40px;
}

.mobile_swiper {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 20px;
}

@media (max-width: 1023px) {
  .productMainSwiper {
    width: 100%;
  }
  .slider_content {
    margin-top: 30px;
    padding-bottom: 25px;
    background-image: none;
  }
  .slider_btns {
    position: static;
    justify-content: center;
    margin-top: 15px;
  }
  .mobile_swiper_wrapper :global(.swiper-slide) {
    justify-content: center;
  }
}
