.map {
  position: relative;
  z-index: 2;
}

.inner_map {
  height: 400px;
}

.inner_map :global([class*="ground-pane"]) {
  filter: grayscale(1);
}

@media (max-width: 767px) {
  .inner_map {
    height: 300px;
  }
}
