.card {
  background-size: cover;
  background-position: right;
  width: 100%;
  height: auto;
  aspect-ratio: 328/175;
  border-radius: var(--pixel30);
  padding: var(--pixel30);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.icon {
  position: absolute;
  top: 0;
  right: 0;
}
.icon img {
  width: 50% !important;
}
.card h6 {
  max-width: 90%;
  white-space: pre;
}
.card p {
  max-width: 90%;
  font-size: var(--font14);
  color: #474747;
}
