.form_wrapper {
  display: flex;
  gap: 5vw;
  padding-block: 80px;
}

.form_wrapper_image {
  width: 50%;
  height: auto;
  aspect-ratio: 5/3.1;
  object-fit: cover;
  border-radius: var(--b-r-30);
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form p {
  font-size: var(--font14);
  color: #777777;
  font-weight: 400;
  white-space: pre;
  margin-bottom: 10px;
}

.form_input {
  padding: 15px 30px;
  font-size: var(--font14);
  border: 1px solid #bebebe;
  border-radius: 50px;
  position: relative;
}

.form_input input {
  border: none;
  width: 100%;
  outline: none;
}

.form_input input:-webkit-autofill,
.form_input input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.form_input :global(.form-control) {
  border: none !important;
  height: fit-content !important;
}

.form_input :global(.flag-dropdown) {
  border: none !important;
  background-color: transparent !important;
}
.btn {
  padding: 18px 44px;
}

.error {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  color: #ff0000;
}

@media (max-width: 1199px) {
  .form_wrapper {
    gap: 60px;
  }
}
