.hero {
  width: 100%;
}

.hero_image {
  width: calc(100% - 40px);
  object-fit: cover;
  height: auto;
  margin-inline: 20px;
  margin-top: 10px;
  border-radius: var(--b-r-30);
  aspect-ratio: 11.6/3;
}

.hero_form {
  display: flex;
  padding-block: 60px;
}
.hero_form_inner {
  width: 60%;
}
.hero_form h2 {
  white-space: pre-line;
}
.hero_form p {
  font-size: var(--font14);
  margin-top: 30px;
  max-width: 70%;
  color: #474747;
}
