.hero {
  width: 100%;
}

.hero_image {
  width: calc(100% - 40px);
  object-fit: cover;
  height: auto;
  margin-inline: 20px;
  margin-top: 10px;
  border-radius: var(--pixel30);
  aspect-ratio: 11.6/3;
}

.hero_form {
  display: flex;
  padding-block: 60px;
}
.hero_form_inner {
  width: 60%;
}
.hero_form h2 {
  white-space: pre-line;
}
.hero_form p {
  margin-top: 30px;
  font-size: var(--font14);
  max-width: 70%;
  color: #474747;
}

@media (max-width: 992px) {
  .hero_image {
    width: 100%;
    aspect-ratio: 3/2.6;
    margin-inline: 0px;
  }
  .hero_form {
    padding-block: 30px 50px;
    flex-direction: column;
  }
  .hero_form_inner {
    width: 100%;
    margin-bottom: 30px;
  }
  .hero_form p {
    margin-top: 15px;
  }
}
