.partners {
  padding-block: 60px;
  background-color: #f7f7f7;
}
.partners_title {
  display: flex;
  justify-content: space-between;
  white-space: pre-line;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .partners_title {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
  }
}
