.risk {
  background-color: #f7f7f7;
  padding-block: 60px 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  white-space: pre-line;
}

.risk_left {
  width: 45%;
}

.risk_left p {
  margin-block: 20px 54px;
  max-width: 80%;
  font-size: var(--font14);
  color: #474747;
}
.image_wrapper {
  aspect-ratio: 5.78/2.44;
  width: 100%;
  height: auto;
}
.image_wrapper img {
  position: absolute;
  object-fit: contain;
  object-position: left;
  left: 0;
}
.risk_right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.card {
  background-image: url("/icons/optomBackground.svg");
  background-size: cover;
  background-position: top right;
  border-radius: var(--pixel30);
  position: relative;
  padding: 32px 30px;
}
.card h6 {
  margin-bottom: 15px;
}
.card p {
  color: #474747;
  font-size: var(--font14);
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
}
.btn img {
  width: 60%;
}

.risk_bottom {
  white-space: pre-line;
  background-color: #f7f7f7;
  padding-bottom: 60px;
}
.risk_bottom h2 {
  margin-bottom: 40px;
}

.bottom_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--pixel20);
}

@media (max-width: 992px) {
  .risk {
    flex-direction: column;
    padding-block: 50px 60px;
  }
  .risk_left {
    width: 100%;
  }
  .risk_left p {
    margin-block: 20px;
    max-width: 100%;
  }
  .image_wrapper {
    margin: 0 auto;
  }
  .image_wrapper img {
    position: relative;
    left: -10px;
    width: 100%;
  }
  .risk_right {
    width: 100%;
  }
  .risk_bottom {
    white-space: initial;
  }
  .risk_bottom h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .bottom_cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .risk_right {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .bottom_cards {
    grid-template-columns: 100%;
  }
  .risk_right {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
  }
}
