.footer {
  background-color: #222222;
  padding-block: 30px 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 40%;
  color: #fff;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  height: 100%;
}
.left p {
  white-space: pre;
}
.logo img {
  aspect-ratio: 2/1;
  width: 10vw;
  height: auto;
  object-fit: contain;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 16px;
}
.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.middle h6 {
}
.middle p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.right_inner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right_inner {
  white-space: pre;
  text-align: end;
}

@media (max-width: 1439px) {
  .logo img {
    width: 120px;
  }
}
