.cards_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 0;
}

.empty {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 100px;
  height: fit-content;
}
.filter_wrapper_p {
  font-size: var(--font14);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_p {
  font-size: var(--font14);
  font-weight: 400;
}
.filter_btn {
  font-size: var(--font14);
  display: flex;
  gap: 10px;
  font-family: "Magistral";
  background-color: transparent !important;
}

.filter_btn:hover {
  background-color: transparent;
}
