.cards_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 0;
}
