.cards_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
  gap: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--pixel20);
  grid-row-gap: 40px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 0;
}

.empty {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 100px;
  height: fit-content;
}
.filter_wrapper_p {
  font-size: var(--font14);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_p {
  font-size: var(--font14);
  font-weight: 400;
}
.filter_btn {
  font-size: var(--font14);
  display: flex;
  gap: 10px;
  font-family: "Magistral";
  background-color: transparent !important;
}

.filter_btn:hover {
  background-color: transparent;
}

@media (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .cards_wrapper {
    display: flex;
    flex-direction: column;
  }
  .cards {
    grid-template-columns: 100%;
  }
  .drawer {
    margin-block: 60px 30px;
  }
  .filter_wrapper_p {
    cursor: pointer;
  }
  .filter_wrapper_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filter_wrapper_top_btn {
    cursor: pointer;
    transform: rotate(45deg);
  }
}
